@import 'reset';

$primary-color: #538a1d;
$font-stack: 'Lato', sans-serif;
$horizontal-padding: 15%;

::selection {
  background: $primary-color;
  color: #FFFFFF;
}

html {
  font-family: $font-stack;
  color: #212121;
}

header {
  width: 100%;

  h1 {
    font-weight: 900;
    color: $primary-color;
    font-size: 64px;
    position: absolute;
    top: 128px;
    left: $horizontal-padding;
  }

  nav {
    position: absolute;
    right: $horizontal-padding;
    top: 78px;
    height: 36px;

    ul li {
      float: left;
      padding: 8px 32px;
      height: 36px;
      line-height: 36px;
      font-size: 20px;
      cursor: pointer;
      transition: color 0.2s;
    }

    ul li::after {
      border-bottom:1px solid $primary-color;
      content: '';
      width: 0;
      display: block;
      padding: 0;
      margin-left:-8px;
      margin-top: -2px;
      transition: width 0.2s, padding 0.2s, border 0.2s;
    }

    ul li:hover::after {
      width: 100%;
      padding: 0 8px;
    }

    ul li:active::after {
      border-bottom: 3px solid $primary-color;
    }

    ul li:hover {
      color: $primary-color;
    }
  }
}